.landing_general{
    background: url('https://i.pinimg.com/originals/b8/83/fc/b883fc84b57235e6fe57f409716ae68d.gif') no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    height: 100vh;
    overflow: hidden;
}
  
.landingPage > img {
    width: 400px;
    margin-top: 100px;
    margin-left: 35%;
  }
.landing_button{
    color: white;
    font-size: 2rem;
    margin-left: 36%;
}
  
.button_landing{
    background-image: url("https://w7.pngwing.com/pngs/223/715/png-transparent-poke-ball-thumbnail.png") ;
    background-position: center;
    background-size: 108px; 
    transition: transform 0.2s ease, opacity 0.2s ease;
    border-radius: 50%;
    font-weight: bold;
    font-style: italic;
    border: none;
    margin-left: 150px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
}
  
button:hover {
    transform: scale(1.14); 
    opacity: 0.6; 
}
  
.logos {
    position: absolute;
    bottom: 40px;
    left: 100px;
    width: 60px;
    background-color: aliceblue;
    border-radius: 15px;
}
  
.logos img {
    border-radius: 40%; 
    width: 60px;
}
  
  
#linkedin-logo {
    margin-left: 80px;
}

/* https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbUkwPgwWnw-JUsuOfQGdXbznJ4EyrpYLdxTCl_GOp4ZVE6wsuUykHOWS4ouD2VGq9Hlc&usqp=CAU */