.home_general{
    /* overflow: hidden; */ 
    /* margin-top: 60px; */
    background: url('https://poketouch.files.wordpress.com/2020/05/pokemon_sword_and_shield_poke_ball_wallpaper.jpg?w=584');
    /* position: absolute; */
    /* background: url('https://img.freepik.com/vector-gratis/fondo-efecto-zoom-degradado-azul_23-2149762303.jpg') no-repeat; */
    /* background-size: cover; */
    /* background-color: rgba(160, 160, 160, 0.7); */
}

.home_cards{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.65);
    overflow-x: auto;
    justify-content: space-around;
    text-align: center;
    /* box-shadow: 2px 2px 8px 8px rgba(15, 13, 13); */
    /* margin: 50px; */
    /* background: linear-gradient(45deg, #ff69b4, #8a2be2, #1e90ff); */
    /* width: 80%; */
    /* align-items: center; */
}

.home_cards > .article {
    position: relative;
    margin: 30px 20px 20px 30px;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(160, 160, 160, 0.8);
    box-shadow: 12px 12px 5px 6px rgba(15, 13, 13);
    background: linear-gradient(300deg, #ff69b4, #8a2be2, #1e90ff);
    border-radius: 25px;
    color: #999;
    transition: transform 0.3s ease; /* Agrega una transición de transformación */
    /* left: 25px; */
}

.article:hover {
    transform: scale(1.1); /* Escala el div al 110% en hover */
}

.pokemon_image{
    width: 200px;
    height: 190px;
    margin-top: 20px;
}
.article h2 {
    vertical-align: middle;
}

.title_landing > h1{
    text-align: center;
    font-size: 3rem;
    color: red;
    font-family: monospace;
}

.pagination-container {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.pagination-button {
    margin: 3px 3px;
    padding: 5px 10px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.pagination-button:hover {
    background-color: #999;
    border: none;
}

.pagination-button.active {
    background-color: #007bff;
    color: white;
    border: none;
}

.detail_links{
    text-decoration: none;
    color: #fff;
}



